
<router-outlet></router-outlet>

<div class="text-align-centre">
   
   <div class="half-col pos-relative" >
      <doughnut-diagram 
         [initSegments]="segments" 
         (segmentClicked)='onClickSegment($event)' 
         ></doughnut-diagram>
   </div>

   <!-- <div class="half-col text-align-centre" >
      <img class="intro-message" src="assets/images/welcom-to-doughnut-message.png" alt="welcome to Devon Doughnut - please rollover segment"/>   
   </div>
   <div class="" style="color: red;position:relative;top:-50px;" *ngIf="introScreenVisibility">
      <h2>Please select section to show details</h2>
   </div> -->

   <div class="half-col text-align-left" *ngIf="!introScreenVisibility">
      <info-panel [segment]="selectedSegment" ></info-panel>
   </div>
</div>


