
<div>

    <div class="white-box">

        <div *ngIf="_mobileMode">
            <button mat-icon-button color="primary" (click)="backToDiagram()" aria-label="Back To Diagram">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <p class="dis-inline">Back to Diagram</p>
        </div>

        <tooltip 
            style="right: 10px;"
            label="What's a domain?"
            message="There are 10 domains, or segments, that relate to the planet's Ecological Ceiling–customized to our landscape and climate, and 12 segments indicating Devon's Social Foundation–the basics we need to survive or thrive. Red shows where we are falling short and green where we're doing ok."
        ></tooltip>
        <div >
            <span class="header-label">Domain: <br></span>
            <h2 class="header-heading to-fade-out" [ngClass]="{'js-fade-out': fadeOut}" >{{domainName}}</h2>
        </div>
        <div class="ceiling-foundation-container to-fade-out"  [ngClass]="{'js-fade-out': fadeOut}">
            <span  [ngClass]="{'disable': showFoundation == true}" >Ecological Ceiling</span>
            <span  [ngClass]="{'disable': showCeiling == true}" >&nbsp;&nbsp;Social Foundation</span>
        </div>
    </div>

    <mat-stepper [linear]="isLinear"  #stepper>

        <mat-step label="Contextualised Indicator" completed="false"  state="phone" >
            <div class="row pos-relative">
                <tooltip 
                    label="What is an overall indicator?"
                    message="Our domains and indicators are 'contextualised', which means they make sense in relation to Devon's ecological and social landscape and what we know about how things work here. Overall indicators are the overarching ways in which commitment to revitalization can be measured."
                ></tooltip> 
                <h2>Overall Indicator:</h2>
                <div class="indicator-box grey-box" >
                    <p class="to-fade-out" [ngClass]="{'js-fade-out': fadeOut}" >{{description}}</p>
                </div>
            </div>
        </mat-step>

        <mat-step  label="Twin Track Indicators"  state="phone" completed="false" >
            <div class="row">
                <div class="full-width pos-relative">
                    <tooltip 
                        label="What are twin track measures?"
                        message="Because citizens and policy makers work in different ways the Devon Doughnut has two tracks. The citizen track suggests scenarios that citizens can research, gather data on and measure that will provide revealing insights into the overall indicator. The policy maker track works in the same way although the scenarios lean more to being informed by the kind of data readily available to institutions and policy makers. The two efforts should run in parallel."
                    ></tooltip> 
                    <h2 >Twin Track Measures:</h2>
                </div>
                <div class="half-col"  >
                    <div>
                        <div class="grey-box">
                            <h3>Citizen</h3>
                            <p>{{citizenDescription}}</p>
                        </div>
                    </div>
                </div>
                <div class="half-col" >
                    <div >
                        <div class="grey-box" >
                            <h3>Policy Maker</h3>
                            <p>{{policymakerDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>

        <mat-step label="Pathway for Action" state="chat" completed="false" >
            <div class="row">
                <div class="full-width pos-relative"> 
                    <tooltip 
                        label="What are pathways for action?"
                        message="In effect, pathways are specific projects that citizens and policy makers can take on that will result in actions that will move the needle toward revitalization in a particular domain and demonstrate the interconnectedness of multiple domains."
                    ></tooltip> 
                    <h2  >Pathways for Action:</h2>
                </div>
                <div class="half-col" >
                    <div>
                        <div class="grey-box">
                            <h3>Citizen</h3>
                            <p>{{citizenAction}}</p>
                        </div>
                    </div>            
                </div>
                <div class="half-col" >
                    <div>
                        <div class="grey-box">
                            <h3>Policy Maker</h3>
                            <p>{{policymakerAction}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>


        <mat-step label="Show All" state="chat" completed="false" >
            <div class="row pos-relative">
                <tooltip 
                    label="What is an overall indicator?"
                    message="Our domains and indicators are 'contextualised', which means they make sense in relation to Devon's ecological and social landscape and what we know about how things work here. Overall indicators are the overarching ways in which commitment to revitalization can be measured."
                ></tooltip> 
                <h2>Overall Indicator:</h2>
                <div class="indicator-box grey-box" >
                    <p>{{description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="full-width pos-relative">
                    <tooltip 
                        label="What are twin track measures?"
                        message="Because citizens and policy makers work in different ways the Devon Doughnut has two tracks. The citizen track suggests scenarios that citizens can research, gather data on and measure that will provide revealing insights into the overall indicator. The policy maker track works in the same way although the scenarios lean more to being informed by the kind of data readily available to institutions and policy makers. The two efforts should run in parallel."
                    ></tooltip> 
                    <h2 >Twin Track Measures:</h2>
                </div>
                <div class="half-col"  >
                    <div>
                        <div class="grey-box">
                            <h3>Citizen</h3>
                            <p>{{citizenDescription}}</p>
                        </div>
                    </div>
                </div>
                <div class="half-col" >
                    <div >
                        <div class="grey-box" >
                            <h3>Policy Maker</h3>
                            <p>{{policymakerDescription}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="full-width pos-relative"> 
                    <tooltip 
                        label="What are pathways for action?"
                        message="In effect, pathways are specific projects that citizens and policy makers can take on that will result in actions that will move the needle toward revitalization in a particular domain and demonstrate the interconnectedness of multiple domains."
                    ></tooltip> 
                    <h2  >Pathways for Action:</h2>
                </div>

                <div class="half-col" >
                    <div>
                        <div class="grey-box">
                            <h3>Citizen</h3>
                            <p>{{citizenAction}}</p>
                        </div>
                    </div>            
                </div>
                <div class="half-col" >
                    <div>
                        <div class="grey-box">
                            <h3>Policy Maker</h3>
                            <p>{{policymakerAction}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </mat-step>


        <!-- Icon overrides. -->
        <ng-template matStepperIcon="phone">
            <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="chat">
            <mat-icon>forum</mat-icon>
        </ng-template>
        
    </mat-stepper>

    <slide-nav-buttons (indexSelected)='onIndexSelected($event)' [reset]="resetTrigger" ></slide-nav-buttons>


</div>